h2 {
    color: orange;
    font-size: 40px;
    display: inline-block;
    text-shadow: 2px 2px slategray;
    border: 2px solid crimson;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 45px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    columns: 2;
    font-size: 100px;
}

#contact {
    color: blueviolet;
    text-decoration: underline;
}

a {
    margin: 20px;
    color: rgba(150, 97, 26, 0.755);
    text-decoration: line-through;
}

label {
    display: block;
}

table,
tr,
th,
td {
    border: 2px solid slateblue;
}

.web {
    margin: 2px;
    color: blue;
    text-decoration: underline;
}

a:hover {
    font-size: 40px;
    color: goldenrod
}

p {
    font-size: 1px;
    color:red;
}