@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.banner {
    position: relative;
}

.welcome {
    position: absolute;
    top: 50px;
    left: 50px;
    font-family: 'Protest Revolution', sans-serif;
    font-size: 4vw;
    color: rgba(202, 142, 31, 0.89);
    background-color: rgba(33, 44, 33, 0.611);

}
.banner img {
    max-width: 100%;
}


.welcome span {
    font-size: 2em;
}
header{
    width: 100%;
    background-color: rgba(35, 120, 35, 0.611);
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

header h2 {
    color: orange;
    font-size: 10px;
    display: block;
    text-shadow: 2px 2px slategray;
    border: 2px solid crimson;
    padding: 5px;
    border-radius: 40px;
    text-align: center;
}

